################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MemigrationProBonoTracker/bin/
/src/MemigrationProBonoTracker/obj/
/.vs/*
MemigrationProBonoTracker.xprog.user
src/MemigrationProBonoTracker/project.lock.json
