################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MemigrationProBonoTracker/bin/
/src/MemigrationProBonoTracker/obj/
/.vs/*
MemigrationProBonoTracker.xprog.user
src/MemigrationProBonoTracker/project.lock.json
/src/MemigrationProBonoTracker/Properties/PublishProfiles/publish-module.psm1
/src/MemigrationProBonoTracker/Properties/PublishProfiles/MemigrationPBT - Web Deploy.pubxml.user
/src/MemigrationProBonoTracker/Properties/PublishProfiles/MemigrationPBT - Web Deploy.pubxml
/src/MemigrationProBonoTracker/Properties/PublishProfiles/MemigrationPBT - Web Deploy-publish.ps1
