################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ProBonoTracker/bin/
/src/ProBonoTracker/obj/
/.vs/*
ProBonoTracker.xprog.user