@model MemigrationProBonoTracker.Models.PersonViewModel.PersonSearchViewModel

<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Lookup Person</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    <input type="text" id="FirstName" value="@Model.FirstName" />
                    <input type="text" id="LastName" value="@Model.LastName" />
                    <input type="submit" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>