<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProBonoTracker</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap-toggle.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/datetime-moment.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">ProBonoTracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Cases<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Case" asp-action="Index" asp-route-open="true">Active Cases</a></li>
                            <li><a asp-controller="Case" asp-action="Create">Add Case</a></li>
                            <li><a asp-controller="Case" asp-action="Index" asp-route-open="false">Closed Cases</a></li>
                            <li><a asp-controller="Case" asp-action="Index">All Cases</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Attorneys<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Attorney" asp-action="Index" asp-route-assigning="true">Assigning Attorneys</a></li>
                            <li><a asp-controller="Attorney" asp-action="Index" asp-route-assigning="false">Volunteer Attorneys</a></li>
                            <li><a asp-controller="Attorney" asp-action="CreateEdit">Add Attorney</a></li>
                            <li><a asp-controller="Attorney" asp-action="Index">Search Attorneys</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Reports<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-controller="Attorney" asp-action="CreateEdit">Add Attorney</a></li>
                        </ul>
                    </li>


                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div id="ContentBody">
            @RenderBody()
        </div>
        <div id="modalWrapper" class="modal fade" tabindex="-1" role="dialog"></div>
        <hr />
        <footer>
            <p>
                <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">&copy; 2017 - ProBonoTracker</a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
