@model Attorney
<form asp-action="Save" asp-controller="Attorney">
    <div class="form">
        @if (Model.Id == 0)
        {
            <h4>Create Attorney</h4>
        }
        else
        {
            <h4>Edit Attorney</h4>
        }
        <hr />
        <input asp-for="Id" hidden="" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="BarNumber" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BarNumber" class="form-control" />
                        <span asp-validation-for="BarNumber" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="OrganizationName" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="OrganizationName" class="form-control" />
                        <span asp-validation-for="OrganizationName" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Enums.Gender>()" class="form-control"></select>
                        <span asp-validation-for="Gender" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="RecruitmentDate" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="RecruitmentDate" class="form-control datepickerpast" />
                        <span asp-validation-for="RecruitmentDate" class="text-danger" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="RecruitmentMethod" class="control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="RecruitmentMethod" asp-items="Html.GetEnumSelectList<Enums.RecruitmentMethod>()" class="form-control"></select>
                        <span asp-validation-for="RecruitmentMethod" class="text-danger" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="HasImmigrationExperience"></label>
                <div class="col-md-10">
                    <input asp-for="HasImmigrationExperience" type="checkbox" data-toggle="toggle" />
                </div>

                <label asp-for="HasJuvenileExperience"></label>
                <div class="col-md-10">
                    <input asp-for="HasJuvenileExperience" type="checkbox" data-toggle="toggle" />
                </div>
            </div>
            <div class="col-md-6">
                <label asp-for="HasProbateExperience"></label>
                <div class="col-md-10">
                    <input asp-for="HasProbateExperience" type="checkbox" data-toggle="toggle" />
                </div>
                <label asp-for="SpeaksSpanish"></label>
                <div class="col-md-10">
                    <input asp-for="SpeaksSpanish" type="checkbox" data-toggle="toggle" />
                </div>
            </div>
        </div>
        <div class="row">
            <label asp-for="Notes" class="control-label"></label>

            <textarea style="max-width: 1080px" cols="2" rows="4" asp-for="Notes" class="form-control"></textarea>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}